<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>VMS</title>
    <link rel="stylesheet" href="styles/Style.css">

    <script src="scripts/jquery-3.2.1.min%20.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="scripts/logic.js"></script>
    <script src="scripts/history.js"></script>
    <script src="controllers/mainController"></script>

</head>
<body ng-controller="langController" >



<div id="Header"><!--Header-->


    <div style="display: inline-flex; flex-direction: row; width: 100%" >
        <div class="flex-container">
            <div class="flex-item col-first" style="margin: 0">
                <div class="PhotoLogo"></div>
            </div>
            <div class="flex-item flex-item-Text col-second">
                <div class="flex-decoration_text" style="text-align: center; font-size: 20px;padding: 8.5% 5% 0 7% ; margin: 0" >
                {{description}}
                </div>
            </div>

            <div class="col-third" style="display: inline-flex; margin-top: 5%">
                <div class="flex-item flex-item-btn" style="margin-left: 5%"  >
                    <button type="button" ng-click="changeLang('UA')">UA</button>
                </div>
                <div class="flex-item flex-item-btn" style="margin-left: 1%; margin-right:  3%">
                    <button type="button" ng-click="changeLang('RU')">RU</button>
                </div>
            </div>



        </div>
    </div>

    <div class="flex-container" ><!--Header location(navbar)-->
        <div class="flex-navigation" style="min-width: 100%; background-color: lightgray; justify-content: center; margin-left: 0">

            <div class="flex-item ">
                <a href="#news.php?lang={{lang}}&type=News" class="history">{{main}}</a>

            </div>
            <div class="flex-item history">
                <a href="#about.php?lang={{lang}}&type=About" class="history">{{about}}</a>

            </div>
            <div class="flex-item history">
                <a href="#equipment.php?lang={{lang}}&type=Equipment" class="history">{{equipment}}</a>

            </div>
            <div class="flex-item history">
                <a href="#articles.html?lang={{lang}}&type=Article" class="history">{{article}}</a>

            </div>
            <div class="flex-item history">
                <a href="#forum.html?lang={{lang}}&type=Forum" class="history">{{forum}}</a>

            </div>
            <div class="flex-item history">
                <a href="#partners.html?lang={{lang}}&type=Partners" class="history">{{partners}}</a>

            </div>
        </div>

    </div>

</div><!--Header end-->


<div class="flex-container flex-container_menu_content" style="min-height: 350px; display: inline-flex">
    <div class="flex-menu col-first">
        <nav class="menu">
            <ul class="RootMenu">
                <li>
                    <ul class="RootMenu">
                        <li>
                            <a href="#aboutUs.php?lang={{lang}}&type=AboutUS" class="history">{{aboutUs}}</a>
                        </li>
                        <li><span>{{spectrum}}</span>
                        </li>
                        <li><span>{{product}}</span>
                        </li>
                        <li><span>{{contacts}}</span>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div><!--Menu-->

    <div class="flex-content col-second">
        <div id="content" class="content flex-item">
        </div>
    </div><!--Content-->

    <div class="flex-item col-third" style="align-self: flex-end;">
        <img src="resources/img/ArrowUp.png" onclick="SkrollAnchor()" class="anchorImg">
    </div>

</div>

<div class="flex-container" ><!--Footer-->
    <div class="flex-item col-first" style="margin: 0">
        <div class="PhotoLogo"></div>
    </div>
    <div class="flex-item-Text col-second" style="margin-top: 8%;text-align: center">
        <p class="forMozila">KSPDev</p>
    </div>
    <div class="flex-item col-third FacebookForMozila" style="margin-top: 7%;"> <!--style="margin-top: 5%;margin-left: 32.2%"-->
        <a href="http://facebook.com"><img class="facebook" src="resources/img/FB.png"></a>
    </div>
</div><!--Footer end-->
</body>
</html>