body {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px;
    flex: 1;
    border: 1px solid #df928c;
    border-radius: 5px;
    background-color: #fbfbfb;
    box-shadow: 3px 3px 2px 0 #dddddd;
}

html {
    background-color: #fdfdfd;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-size: 16px;
}

[id] {
    border: 1px solid #dddddd;
}

/*Поля ввода*/
.flexInput {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin: 10px;
}

.AdminText {
    font-size: 2em;
    font-family: "Lucida Console", "Courier New", Andy, sans-serif;
    font-weight: 600;
    opacity: 1;
    order: -1;
}

/*До 767 пикселей*/
@media (max-width: 767px) {
    #frameId {
        width: 500px;
        height: 100px;
        border-left: 2px solid #105da4;
        box-shadow: none;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s ease;
        background-color: transparent;
    }

    #frameId:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    #frameId:focus {
        width: 650px;
        height: 150px;
        border: none;
        box-shadow: 7px 7px 5px #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s ease;
        background-color: #ffffff;
    }

    #frameContent {
        width: 500px;
        height: 200px;
        box-shadow: none;
        border-left: 2px solid #105da4;
        opacity: 1;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow ease;
        background-color: transparent;
    }

    #frameContent:focus {
        width: 650px;
        height: 300px;
        border: none;
        box-shadow: 7px 7px 5px 0 #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s, box-sadow ease;
        background-color: #ffffff;
    }

    #frameContent:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    #framePreview {
        width: 500px;
        height: 100px;
        box-shadow: none;
        border-left: 2px solid #105da4;
        opacity: 1;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow ease;
        background-color: transparent;
    }

    #framePreview:focus {
        width: 650px;
        height: 150px;
        border: none;
        box-shadow: 7px 7px 5px 0 #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s ease;
        background-color: #ffffff;
    }

    #framePreview:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;

    }
}

/*От 768 до 992 пикселей */
@media (min-width: 768px ) {
    #frameId {
        width: 650px;
        height: 100px;
        border-left: 2px solid #105da4;
        box-shadow: none;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s ease;
        background-color: transparent;
    }

    #frameId:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    #frameId:focus {
        width: 750px;
        height: 150px;
        border: none;
        box-shadow: 7px 7px 5px #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s ease;
        background-color: #ffffff;
    }

    #frameContent {
        width: 650px;
        height: 200px;
        box-shadow: none;
        border-left: 2px solid #105da4;
        opacity: 1;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow ease;
        background-color: transparent;
    }

    #frameContent:focus {
        width: 750px;
        height: 300px;
        border: none;
        box-shadow: 7px 7px 5px 0 #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s, box-sadow ease;
        background-color: #ffffff;
    }

    #frameContent:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    #framePreview {
        width: 650px;
        height: 100px;
        box-shadow: none;
        border-left: 2px solid #105da4;
        opacity: 1;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow ease;
        background-color: transparent;
    }

    #framePreview:focus {
        width: 750px;
        height: 150px;
        border: none;
        box-shadow: 7px 7px 5px 0 #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s ease;
        background-color: #ffffff;
    }

    #framePreview:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;

    }
}

/*От 993 до 1200 пикселей*/
@media (min-width: 993px) {
    #frameId {
        width: 800px;
        height: 100px;
        border-left: 2px solid #105da4;
        box-shadow: none;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s ease;
        background-color: transparent;
    }

    #frameId:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    #frameId:focus {
        width: 950px;
        height: 150px;
        border: none;
        box-shadow: 7px 7px 5px #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s ease;
        background-color: #ffffff;
    }

    #frameContent {
        width: 800px;
        height: 200px;
        box-shadow: none;
        border-left: 2px solid #105da4;
        opacity: 1;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow ease;
        background-color: transparent;
    }

    #frameContent:focus {
        width: 950px;
        height: 300px;
        border: none;
        box-shadow: 7px 7px 5px 0 #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s, box-sadow ease;
        background-color: #ffffff;
    }

    #frameContent:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    #framePreview {
        width: 800px;
        height: 100px;
        box-shadow: none;
        border-left: 2px solid #105da4;
        opacity: 1;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow ease;
        background-color: transparent;
    }

    #framePreview:focus {
        width: 950px;
        height: 150px;
        border: none;
        box-shadow: 7px 7px 5px 0 #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s ease;
        background-color: #ffffff;
    }

    #framePreview:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;

    }
}

/*От 1200 пикселей и выше*/
@media (min-width: 1200px) {
    #frameId {
        width: 1000px;
        height: 100px;
        border-left: 2px solid #105da4;
        box-shadow: none;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s ease;
        background-color: transparent;
    }

    #frameId:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    #frameId:focus {
        width: 1150px;
        height: 150px;
        border: none;
        box-shadow: 7px 7px 5px #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow 0.5s ease;
        background-color: #ffffff;
    }

    #frameContent {
        width: 1000px;
        height: 200px;
        box-shadow: none;
        border-left: 2px solid #105da4;
        opacity: 1;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow ease;
        background-color: transparent;
    }

    #frameContent:focus {
        width: 1150px;
        height: 300px;
        border: none;
        box-shadow: 7px 7px 5px 0 #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s, box-sadow ease;
        background-color: #ffffff;
    }

    #frameContent:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    #framePreview {
        width: 1000px;
        height: 100px;
        box-shadow: none;
        border-left: 2px solid #105da4;
        opacity: 1;
        transition: width 0.5s, height 0.5s, border 0.5s, box-shadow ease;
        background-color: transparent;
    }

    #framePreview:focus {
        width: 1150px;
        height: 150px;
        border: none;
        box-shadow: 7px 7px 5px 0 #dddddd;
        border-left: 5px solid blue;
        transition: width 0.5s, height 0.5s, border 0.5s ease;
        background-color: #ffffff;
    }

    #framePreview:focus + .AdminText {
        opacity: 0;
        transition: opacity 0.5s ease;
    }
}

/*body * {
    /*display: flex;
    flex-direction: column;
    margin: 0 auto;
}*/
/*Кнопки*/
.flexBtn {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
}

.flexBtn input {
    margin: 1em;
}

input[type=button], input[type=submit] {
    align-items: center;
    padding-top: 0.8em; /*Нужно решить вопрос с вертикальным выравниванием надписи на кнопке*/
    font-size: 1em;
    border: 1px solid #dddddd;
    background-color: transparent;
    width: 10em;
    height: 3em;
}

input[type=button]:hover {
    box-shadow: 0 0 3px 3px #dd1718;
    border: none;
    transition: box-shadow 0.5s, border 0.1s ease;
    font-weight: 700;
}

input[type=submit]:hover {
    box-shadow: 0 0 3px 3px #105da4;
    border: none;
    transition: box-shadow 0.5s, border 0.1s ease;
    font-weight: 700;
}

/*Стилизация Placeholder*/
::-webkit-input-placeholder {
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    color: #b4b4b4;
    text-align: left;
    opacity: 0;
    transition: opacity 1s ease;
}

:focus::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 1s ease;
}

::-moz-placeholder {
    font-size: 16px;
    color: #b4b4b4;
    text-align: left;
    opacity: 0;
    transition: opacity 1s ease;
}

:focus::-moz-placeholder {
    opacity: 1;
    transition: opacity 1s ease;
}

:-moz-placeholder {
    font-size: 16px;
    color: #b4b4b4;
    text-align: left;
    opacity: 0;
    transition: opacity 1s ease;
}

:focus:-moz-placeholder {
    opacity: 1;
    transition: opacity 1s ease;
}

:-ms-input-placeholder {
    font-size: 16px;
    color: #b4b4b4;
    text-align: left;
    opacity: 0;
    transition: opacity 1s ease;
}

:focus:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 1s ease;
}
