.menu {
    position: fixed;
}

ul {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
.RootMenu > li{
    padding-bottom: 10px;
    font-size: 18px;
}
.dropMenu > li{
    padding-bottom: 10px;
    margin-top: 1px;
    font-size: 18px;
    background: silver;
    border: 1px solid black;
}
.flex-container{
    display: inline-flex;
    min-width: 100%;
}
.flex-item{
    margin: 1.2% 0 1% 2.8%;
    padding: 0;
}
.flex-item-Text{
    margin: 2.5% 0 0 30%;
    padding: 0;
}
.flex-item-btn{
    margin: 2.4% 0 0 35%;
    padding: 0;
}
.flex-navigation{
    display: inline-flex;
    flex-direction: row;
    margin: 2% 0 3% 30%;
}
.flex-container_menu_content{
    flex-direction: column;
}
.flex-menu{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.flex-content{
    margin: 0 0 0 10%;
}
    /*Menu*/
.RootMenu > ul {
    display: flex;
    height: auto;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
}
.RootMenu > ul > li {
    display: flex;
    height: auto;
    position: relative;
}
.RootMenu > ul > li > a {
    position: relative;
    display: flex;
    height: auto;
    box-sizing: border-box;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2em;
    padding: 10px 15px;
    text-decoration: none;
}
.RootMenu > ul > li:first-child a {
    border: 0px;
}
.dropMenu {
    position: absolute;
    top: 15%;
    left: 100%;
    display: none;
    width: auto;
}
.RootMenu > li:hover ul {
    display: flex;
    flex-direction: column;
}
.RootMenu > ul > li > ul > li > a {
    white-space: nowrap;
    text-transform: none;
    padding: 5px 20px;
}

/*The end Menu!*/


.anchorImg {
    width: 30px;
    height: 30px;
    position: fixed;
    margin-left: 80%;
    margin-top: 35%;

    right: 0px;
    left: 0px;
    bottom:0px;
    top:0px;
}

.PhotoLogo {
    background-size: cover;
    background-image: url("../resources/img/Logo.png");

    height: 250px;
        width: 250px;

}

.facebook {
    height: 30px;
}
 .logoText{
     float: left;
     margin-top: 15.8%;
 }

 .themeLine{
     background-color: #a8d08d;
     font-size: 25px;
     font-weight: bold;
 }

.logoText {
    float: left;
    margin-top: 15.8%;
}