.menu{
    position: fixed;
}
ul{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}/*
.RootMenu{
    position: relative;
    display: inline-block;
}*/
.RootMenu > li > ul{
    display: none;
}
.RootMenu > li:hover ul{
    display: block;
}
.content{
    height: 100em;
   /* width: 100%;*/

}
.anchor {
    background: url("../resources/img/ArrowUp.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    position: fixed;
    margin: 25% 0 0 65.7%;
}
.anchorImg{
    width: 30px;
    height: 30px;
    position: fixed;
    margin: 22% 0 0 5.6%;
}
.PhotoLogo{
    margin: 10px;
    background: url("../resources/img/Logo.png");
    background-size: 100% 100%;
    height: 55px;
        width: 70px;

}
.facebook{
    height: 30px;
}
 .logoText{
     float: left;
     margin-top: 15.8%;
 }